.cart__title{
text-align: center;
border-bottom: 1px solid gray ;
padding-bottom: 10px ;

}
.payment__section{
    align-items: center;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    border-radius: 5px;



}